<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreakFast</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body >
    <div class="khushi">

        <nav class="navbar">
            <div class="header">
                <div class="nav">
                    <ul class="links">
                        <a href="#" class="logo2">
                            <img src="/img/logo.png" style="height: 35px;" alt="">
                        </a>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Contact</a></li>
                        <form class="search">
                            <input type="text" placeholder="search" class="searchinput">
                            <button type="button" class="searchbutton">&#128269
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </form>
                    </ul>
                 
                </div>
            </div>
        </nav>
        <section class="grid">
            <table class="tab">
                <tr>
                    <td class="one">
                       
                            <a href="#"><button>
                                    <img src="img/kajukari.webp"
                                    
                                        alt="">
                                    <h1>Kaju Curry <br>&#9757 <br>Price:20Rs.</h1>
                                </button> </a>
                       
                    </td>
                    <td class="two">
                        
                            <a href="#"><button>
                                    <img src="img/panir.jpeg" alt="">
                                    <h1>Paneer<br>&#9996 <br>Price:60Rs.</h1>
                                </button> </a>
                       
                    </td>
                    <td class="three">
                    
                            <a href="colldronk.html"><button>
                                    <img src="img/puribhaji.jpg" alt="">
                                    <h1>PuriBhaji<br>&#128076 <br>Price:80RS.</h1>
                                </button> </a>
                    </td><br>
                   
            </td>
        
                </tr>
        
            </table><br><br>
            
         
            <a href="index.html">&#8592</a>
    
        </section>
      </body>
</html>